button{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}
input{
    align-items: center;
}
text{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    align-items: center;
    
    
}
ul{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(32, 10, 231);
}
li{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}