<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="index.html" class="enlace">
            <img src="images/Logo2.png" alt="" class="logo">
        </a>
        <ul>
            <li><a class="active" href="">Inicio</a></li>
            <li><a href="pages/conoceme.html">Conoceme</a></li>
            <li><a href="pages/habilidades.html">Habilidades</a></li>
            <li><a href="pages/Pasatiempos.html">Intereses</a></li>
            <li><a href="pages/contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>

<app-conoceme></app-conoceme>
<app-conocimientos></app-conocimientos>
<app-redes></app-redes>
<br><br>
<hr>
<h2 class="listado">Entregable de Listado de Alumnos</h2>
<app-nombres></app-nombres>