<!-- Habilidades -->
<section class="category">

    <h1 class="title">Habilidades</h1>

    <div class="box-container">

       <a href="habilidades.html" class="box">
           <img src=".../assets/Carrusel3.jpg">
          <h3>Html 5</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/Carrusel2.jpg" alt="">
          <h3>Css</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/Carrusel4.jpg" alt="">
          <h3>JavaScript</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/Bostrap.png" alt="">
          <h3>Bootstrap</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/PHP.jpg" alt="">
          <h3>Php</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/java.jpg" alt="">
          <h3>Java</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/GIT.png" alt="">
          <h3>Versiodado de Grid</h3>
       </a>

       <a href="habilidades.html" class="box">
          <img src="../images/SASS.jpg" alt="">
          <h3>Sass</h3>
       </a>

    </div>

 </section>