

<div class="infoprincipal">
    <main class="contenido-principal">
        <img src="images/cristian.jpg" alt="Dome of the German Bundestag" class="contenido-principal__imagen">
        <div class="contenido-principal__contenedor">
            <h1 class="contenido-principal__titulo">Conoceme</h1>
            <p class="contenido-principal__resumen">
                Soy un joven organizado, confiable y exitoso en el manejo de múltiples prioridades con una actitud
                positiva.
                Disponibilidad para asumir responsabilidades adicionales para cumplir con los objetivos del equipo.
                Me
                gustaría seguir ampliando mis conocimientos a través de la oportunidad de nuevos trabajos.
            </p>
        </div>
    </main>
</div>